.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 460px;
  height: fit-content;
  /* padding: 15px; */
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
}

.statistics {
  /* background-color: rgb(230, 230, 230); */
  padding-top: 1px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.statList {
  display: flex;
  justify-content: space-around;
}

.statList li {
  flex-grow: 1;
  padding: 10px;
  border-right: 1px solid #eeeeee;
  background-color: #fff;
}

.statList li:not(:last-child) {
  border-right: 1px solid #eeeeee;
}

.label {
  display: block;
  text-align: center;
  color: white;
}

.percentage {
  display: block;
  text-align: center;
  font-size: 24px;
  color: white;
}